
body {
  background-image: url(https://img-cdn1.thehungryjpeg.com/productimages/1111/738/90/c7a34d6e2769f8b45984182b7b752ff1e7a84f64.jpg)}
  width: 90%;
  margin: 0 auto;

 #content {
  overflow: auto;}
#nav, #feature, #footer {
  margin: 1%;}
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%}
.column3 {
  margin-right: 0%;}
li {
  display: inline;
  padding: 0.5em;}
#nav, #footer {
  background-color: #723030;
  padding: 0.5em 0;}

#feature, .article {
  
height: 10em;
  margin-bottom: 1em;
  background-color: #ae9494
  }

#feature {
  background-color: #8CC63E;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/20/18/42/rose-3030462_1280.jpg");
  background-size:auto;
  background-position: center;
  background-repeat:no-repeat;
}



    

  <div id="content">
    <div id="feature">
      <p>Feature</p>
    </div>
    <div class="article column1">
      <p>Column One</p>
    </div>
    <div class="article column2">
      <p>Column Two</p>
    </div>
    <div class="article column3">
      <p>Column Three</p>
    </div>
  </div>
  <div id="footer">
    <p>&copy; Copyright 2011</p>
  </div>
