
body {
  background-image: url(https://img-cdn1.thehungryjpeg.com/productimages/1111/738/90/c7a34d6e2769f8b45984182b7b752ff1e7a84f64.jpg)}
  width: 90%;
  margin: 0 auto;
 
div {
  border: 1px solid black;
  padding: 25px;
  background-color: white;



