
body {
  background-image: url(https://img-cdn1.thehungryjpeg.com/productimages/1111/738/90/c7a34d6e2769f8b45984182b7b752ff1e7a84f64.jpg)}
  width: 90%;
  margin: 0 auto;

 <div id="content">
    <div id="feature">
      <p>Feature</p>
    </div>
    <div class="article column1">
      <p>Column One</p>
    </div>
    <div class="article column2">
      <p>Column Two</p>
    </div>
    <div class="article column3">
      <p>Column Three</p>
    </div>
  </div>
  <div id="footer">
    <p>&copy; Copyright 2011</p>
  </div>
